<img class="img-fluid max-width=100" src="/img/newIgniteLogo.png" alt="Ignite logo">
<!-- <hr class="my-4"> -->
<div class="d-grid mb-2">
    <hr class="my-4">

    <button class="btn btn-lg btn-block btn-success text-white text-decoration-none" type="submit">
        <a href="/login">Login</a> 
    </button>
    <button class="btn btn-lg btn-block btn-success text-white text-decoration-none mb2" type="submit">
        <a href="/signup">Sign Up</a> 
    </button>
</div>