<img class="img-fluid max-width=100" src="/img/newIgniteLogo.png" alt="Ignite logo">
<!-- <hr class="my-4"> -->
<div class="d-grid mb-2">
    <hr class="my-4">

    <button class="btn btn-lg btn-block btn-success" type="submit">
        <a class="text-decoration-none text-white" href="/login">Login</a> 
    </button>
    <button class="btn btn-lg btn-block btn-success mb2" type="submit">
        <a class="text-decoration-none text-white" href="/signup">Sign Up</a> 
    </button>
</div>