
	<body>
        <h1>Reading</h1>
        <h4 class="my-4">When children read extensively, they become better writers. Find a book to read from the Google Books database to ignite the ideas in your mind.</h4>
        <section>
            <form action="/stories/searchBook" method="POST">
                <input type="search" id="searchTerm" name="searchTerm" class="form-control" placeholder="Search For Title">
                <button type="submit" id="search" class="btn btn-success my-4">Search</button>
            </form> 
        </section>
		<script type="text/javascript" src="js/main.js"></script>
	</body>
</html>