
	<body>
        <h1>Shared Stories</h1>
		<h2>Publish your story to our website!</h2>

		<div class="row justify-content-center">
			<% if(infoSubmitObj != "") {%>
				<div class="col-8 alert alert-success" role="alert">
					<%= infoSubmitObj %>
				</div>
			<% } %>

			<% if(infoErrorsObj != "") {%>
				<div class="col-8 alert alert-danger" role="alert">
					<% infoErrorsObj[0].message %>
				</div>
			<% } %>

		<div class="col-8">
			<form action="/shared-stories" enctype="multipart/form-data" method="POST">
				<div class="form-group">
			  		<label for="name" class="form-label">Name</label>
			  		<input type="text" name="name" class="form-control" id="name" placeholder="Name" required>
				</div>

				<div class="form-group">
					<label for="email" class="form-label">Email address</label>
					<input type="email" name="email" class="form-control" placeholder="Email" required>
			  	</div>

				<div class="form-group">
					<label for="title" class="form-label">Title</label>
					<input type="text" name="title" class="form-control" id="title" placeholder="Title" required>
			  	</div>

				<div class="form-group">
					<label for="description" class="form-label">Description</label>
					<textarea type="textarea" name="description" class="form-control" id="description" col="30" rows="4" placeholder="Description"></textarea>
			  	</div>

				<div class="form-group">
					<label for="grade" class="form-label">Grade</label>
					<input type="text" name="grade" class="form-control" id="grade" placeholder="Grade" required>
			  	</div>

				<div class="form-group">
                    <label for="image">Image/File</label>
                    <input type="file" class="form-control" name="image" accept="image/*" required>
                </div>

				<div class="form-group">
					<label for="date" class="form-label">Date</label>
					<input type="date" name="date" class="form-control" id="date" placeholder="date" required>
			  	</div>

				<div class="form-group">
                    <button type="submit" class="btn btn-primary">Submit Story</button>
                </div>
		  	</form>
			</div>
		</div>

		<script type="text/javascript" src="js/main.js"></script>
	</body>
</html>